
        
.container-outside

  #cta.hero-unit   
    %h2 Remember when Mom did your laundry?
    %h3 We thought that was better, too.
    %div#message
      = form_for @person, url: register_email_path, html: {class: "form-inline"}, remote: true do |f|
        %h3.label.float Get started now:
        = f.email_field :email, placeholder: "Email Address", class: "input-xlarge input-title"
        = f.text_field :zip_code, placeholder: "Zip Code", class: "input-medium input-title"
        %button.btn.btn-primary.btn-large.btn-yellow Go!
  .row-fluid
    %h3.bottom 
      We’ve got local moms ready to pick up, wash, fold and deliver <br/>your laundry just the way you like it for only <strong>$1.50 a pound</strong>.


.container-grass
  #bottom.container    
    #steps.row-fluid 
      .span4
        %i.icon-mobile-phone.jumbotron-icon
        %h4 Choose Your Laundry Settings
        %p Let us know your favorite detergent, whether you want to use dryer sheets and what temperature the water should be, or just leave it up to mom (she knows best!).  
      
      .span4
        %i.icon-bullhorn.jumbotron-icon
        %h4 Schedule Your Pickup
        %p Schedule a convenient pickup time and one of our moms will pick up your laundry, give it the best cleaning of its life and have it back to you in about 24 hours.

      .span4
        %i.icon-magic.jumbotron-icon
        %h4 Relish Your Cleanliness
        %p 
          Bask in the glow of hassle-free laundry, the way it used to be. Go to the park, see a movie, take a hike, maybe even go to work. 
          %br Mom's got you covered!


    -if false
      .row-fluid
        %h4
          The Momdromat Advantage
      .row-fluid 
        .span3
          %p Your laundry is done by a team of dedicated, caring local moms that are ready to wash, dry, iron and fold your clothes.
        .span3
          %p We’ll make sure that Mom knows just the way you like it, because you can tell her.  Specify preferred detergent types, dryer settings, pick-up and drop-off times and more!
        .span3
          %p Your laundry is done at a price your mom would approve of, starting at $1.50 per pound or about $40 a month for our average customer.
        .span3
          %p Our technology is so easy, even your mom could understand it!  We make it super easy to specify preferences, coordinate hand-offs and even track your order in progress.
