// TODO: Make changes to the action you wish to perform

$('form').remove();
$('#message').html("<h3 class='label'>Thanks! We'll be in touch when we've launched in your area.</h3>");

<% if Rails.env.production? %>
_gaq.push(['_trackPageview', '/thanks']);

// Track conversion
  var google_conversion_id = 987436772;
  var google_conversion_language = "en";
  var google_conversion_format = "3";
  var google_conversion_color = "ffffff";
  var google_conversion_label = "qfvyCITo2wQQ5K3s1gM";
  var google_conversion_value = 0;
  $.getScript( "http://www.googleadservices.com/pagead/conversion.js" );


  var img = document.createElement("img");
  var goalId = google_conversion_id;
  var randomNum = new Date().getMilliseconds();
  var value = 100;
  var label = "qfvyCITo2wQQ5K3s1gM";
  var url = encodeURI(location.href);
  
  var trackUrl = "http://www.googleadservices.com/pagead/conversion/"+goalId+"/?random="+randomNum+"&label="+label+"&guid=ON&script=0&value="+value+"&url="+url;
  img.src = trackUrl;
  document.body.appendChild(img);
  
<% end %>