

body {
	background: url("skybg.png") repeat-x #EFF8FC;
}

body#welcome_index {
	background: #AFDDF3 url("clouds.png") repeat-x center 100px;
}

.center {
     float: none;
     margin-left: auto;
     margin-right: auto;
}

 h1 {
	color: #fff;
	background: url(logo-sign-small.png) no-repeat;
	text-indent: -9999px;
	overflow: hidden;
	margin: 0px 0px 0px 10px;
	padding: 0px;
	height: 80px;
	width: 300px;
}

h2 {
	color: #168C72;
}

h3 {
	color: #D77B42;
}

#welcome_index h3 {
	color: #333;
}


#welcome_index h1 {
	margin: 0px auto;
	background: url(logo-sign.png) no-repeat;
	padding: 0px;
	height: 150px;
	width: 629px;
}

.container-narrow, .container-small {
	width: 55%;
}


.container-small {
	margin: 30px auto;
	padding: 10px;
	background-color: #fff;
	border-radius: 10px;
	border: 1px solid #ccc;
}

.container-small .span2 {
	text-align: center;
}

.container-small img {
	margin: 10px 0px 0px 0px;
	width: 80%;
}

.container-small .span5 {
	width: 66%;
	margin-left: 50px;
}



h2, h3, h4, h5, h6 {
	font-family: 'Roboto Slab', sans-serif;
}

.btn {
	font-family: 'Roboto Slab', sans-serif;
}

#header {
	position: relative;
}

#header h2 {
	font-weight: 400;
	font-size: 22px;
	text-align: center;
}

#social {
	position: absolute;
	right: 0px;
	top: 10px;
}

#social a { text-decoration:  none}

#social i {
	margin-left: 10px;
	color: #000;
	font-size: 1.5em;
}

#social i:hover {
	color: #2BA58E;
}

.container-outside {
	background: url(clothesline.png) no-repeat center 100px;
}


.container-grass {
	background: url(green_hill.png) transparent center 100px no-repeat;
}

#cta {
	background:none;
	padding-top: 30px;
	margin-bottom: 10px;
	padding-bottom: 0px;
}

#cta h2, #cta h3, #cta h4 {	
	text-align: center;
}

#cta h2 {
	font-size: 35px;
	color: #168C72;
}

#cta h3 {
	font-size: 25px;
	font-weight: 400;
}

#cta h4 {
	font-weight: 400;
}

h3.label {
	background: none;
	border-radius: 20px;
	padding: 20px;
	width: 70%;
}

h3.label.float {
	width: auto;
	display: inline;
	padding: 10px;
	top: 5px;
	position: relative;
}



#cta #message {
	text-align: center;
	padding-top: 70px;
	padding-bottom: 20px;
	max-width: 1100px;
	margin: 0px auto;
}

#cta span {
	color: #2BA58E;
	font-weight: 400;
}

.input-title {
  height: 40px !important;
  font-size: 1.4em !important;
  line-height: 40px !important;
	font-family: 'Roboto Slab', sans-serif;
}

.form_title {
	top: 5px;
	margin-right: 12px;
	position: relative;
}

.input-title.input-medium {
	width: 120px;
}

.input-title.input-xlarge {
    width: 330px;
}

#cta input {
	margin-right: 15px;
}

#steps {
	text-align: center;
	margin-top: 10px;
	margin-bottom: 30px;
}

#steps h3 {
	font-size: 1.2em;
}

#steps p {
	font-size: 1.1em;
}

.btn-large {
	font-size: 1.3em;
}

.btn-yellow {
    background-color: #E8B236;
    background-image: linear-gradient(to bottom, #EABA46, #E8B236);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: #000;
    text-shadow: 0 -1px 0 rgba(255, 255, 255, 0.25);
}

.btn-yellow:hover, .btn-yellow:focus, .btn-yellow:active {
    background-color: #D6920B;
    background-image: linear-gradient(to bottom, #D6920B, #D6920B);
}

h3.bottom {
	font-size: 28px;
	font-weight: 400;
	text-align: center;
	color: #EC6919 !important;
}

#bottom {
	padding-top: 20px;
}


#steps i {
	padding: 20px;
	background-color: #fff;
	border-radius: 80px;
	height: 80px;
	width: 80px;
	display: inline-block;
	color: #055646;
	margin-bottom: 10px;
}

#steps i:hover {	
	background-color: #EFCB75;
	color: #EC6919;
}

#steps .icon-mobile-phone {
	font-size: 6em;
}


#steps .icon-bullhorn {
	font-size: 4em;
	line-height: 1.5em;
}

#steps p{
	margin-right: 20px;
	margin-left: 20px;
}

#steps .icon-magic {
	font-size: 3.5em;
	line-height: 1.75em;
}

#footer {
	border-top: 1px solid #055646;
	background-color: #055646;
	padding: 10px 0px 60px 0px;
	color: #fff;
}

#footer a{
	color: #fff;
}



.photos h4 {
	color: #848484;
	font-style: italic;
	margin: 0px;
	padding: 0px;
	text-align: center;
}


p.small {
	font-size: .8em;
	line-height: .9em;
}

#how_it_works h3, #how_it_works a, #how_it_works h2 {
	text-align: center;
}
