#footer
  .container
    .span5.credit
      Copyright © 2013, Momdromat LLC
    .span5.pull-right{:style => "text-align: right;"}
      =link_to "Join The Momdromat Moms!", :controller => "moms", :action => "index"